[bumpversion]
current_version = 0.4.2
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)((?P<release>[a-z]+)(?P<micro>\d+))?
serialize =
    {major}.{minor}.{patch}
    {major}.{minor}.{patch}{release}{micro}
commit = True
message = Bump huspacy version: {current_version} → {new_version}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = version="v{current_version}"
replace = version="v{new_version}"

[bumpversion:part:release]
optional_value = g
values =
  a
  b
  g

[bumpversion:part:micro]